@import '_vars';
body{
    background-color:$background-color;
    color:$master-font-color;
    background-image: url("../images/background.png");
}
p{
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}
li{
    color: white;
    font-size: 8px;
    text-transform: uppercase;
}
a{
    color: white;
    text-decoration: none;
}
footer{
    text-decoration-line: overline;
    text-decoration: orangered;
    font-size: 20px;
}
ul{
    text-decoration-line: overline;
    text-decoration: orangered;
    list-style: none;
}
.current:active{
    color: orangered;
}

/* info page */

#jinkalinfo p{
    font-size: 20px;
    text-align: justify;
}
jp:hover.image{
    opacity: 0.3;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centereda {
    position: absolute;
    top: 320%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

h3{
    text-decoration: underline;
    text-decoration-color: blue;
    text-transform: uppercase;
}

#ac{
    text-decoration: underline;
    text-decoration-color: orangered;
    text-transform: uppercase;
}
/* info page end */