@import '_vars';
body{
    background-color:$background-color;
    color:$master-font-color;
    background-image: url("../images/background.png");
}
p{
    color: white;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}
li{
    color: white;
    font-size: 8px;
    text-transform: uppercase;
}
a{
    color: white;
    text-decoration: none;
}
footer{
    text-decoration-line: overline;
    text-decoration: orangered;
}
ul{
    text-decoration-line: overline;
    text-decoration: orangered;
    list-style: none;
}
.current:active{
    color: orangered;
}

/* info page */

#jinkalinfo p{
    font-size: 20px;
    text-align: justify;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    text-decoration: underline;
    text-decoration-color: blue;
    text-transform: uppercase;
}
/* info page end */